{% extends 'base.html' %}
{% load task_tags %}
{% comment %} or could be loaded like this 👇 {% endcomment %}
{% load get_priority_color from task_tags %}
{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
</head>
<body>
    <h1>Tasks</h1>

    <ul>
        <li><b>By:</b> {{name}}</li>
        <li><b>Designation:</b> {{designation|title}}</li>
    </ul>

    <a href={% url 'task-add' %}> Add a Task</a>

    <hr/>

    <table border=1>
        <thead>
            <th>Task</th>
            <th>Desc</th>
            <th>Priority</th>
        </thead>
        {% for task in tasks %}
        <tr>
            <td>
                {{task.task}}
            </td>
            <td>
                {{task.description}}
            </td>
            <td style="background-color: {{ task.priority|get_priority_color }};">
                {{task.priority}}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html> {% endcomment %}
{% comment %} ------------------------------------------ {% endcomment %}

{% block title %}Task List{% endblock title %}

{% block root %}

<h1 class="text-2xl font-semibold text-slate-700">
    Task List
</h1>

<div class="bg-slate-100 flex flex-col justify-center align-middle">
    <a href={% url 'task-add' %}>
         <button class="bg-orange-400 p-2 hover:bg-orange-300 transition-colors duration-3">Add a Task</button>
    </a>

    <div class="flex justify-center">
        <table class="table-fixed w-[90%]">
            <thead class="text-orange-800">
                <th>Task</th>
                <th>Desc</th>
                <th>Priority</th>
            </thead>
            {% for task in tasks %}
            <tr class={% cycle 'bg-slate-100' 'bg-slate-200' %}>
                <td class="p-2">
                    {{task.task}}
                </td>
                <td class="p-2">
                    {{task.description}}
                </td>
                <td class="p-2" style="background-color: {{ task.priority|get_priority_color }};">
                    {{task.priority}}
                </td>
                <td class="p-2 text-orange-700">
                    <a href={% url 'task-update' pk=task.id %} class="hover:text-orange-600 hover:underline">Update</a> - 
                    <a href="" class="hover:text-orange-600 hover:underline">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

</div>

{% endblock root %}


{% block extrajs %}

$(document).ready( () => {

});


{% endblock extrajs %}